### Data type conversion | Type casting

- How can I convert 1 datatype to another datatype

* argument = parameter
* german(BMW) -> Here BMW is argument

In [2]:
cvt_int = int(3.4)

In [3]:
cvt_int

3

In [4]:
# Complex to integer conversion isn't possible
cvt_int1 = int(4 + 6j)
cvt_int1

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [6]:
cvt_int2 = int(True)
cvt_int2

1

In [7]:
chng = int('10')
chng

10

In [8]:
chng1 = int('Ten')
chng1

ValueError: invalid literal for int() with base 10: 'Ten'

In [9]:
float(23)

23.0

In [10]:
float(90 + 1j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [11]:
float(89,908)

TypeError: float expected at most 1 argument, got 2

In [12]:
float('10')

10.0

In [14]:
float(True), float(False)

(1.0, 0.0)

In [15]:
float('Ten')

ValueError: could not convert string to float: 'Ten'

In [16]:
complex(10)

(10+0j)

In [17]:
complex(10,20)

(10+20j)

In [18]:
complex(True)

(1+0j)

In [20]:
complex(False)

0j

In [21]:
complex('Ten')

ValueError: complex() arg is a malformed string